* {
    box-sizing: border-box;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

body {
    /* Syntax: oklch(Lightness Chroma Hue) */
    /* We use the CSS variables as the Hue (the 3rd parameter) */
    --color-1: oklch(70% 0.2 var(--randomHue1));
    --color-2: oklch(70% 0.2 var(--randomHue2));

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(var(--angle), var(--color-1), var(--color-2));
    background-size: cover;
    transition: background 0.5s ease;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    animation: angleAnimation 5s infinite linear;
}

input[type="radio"] {
    display: grid;
    place-content: center;
    margin: 0;
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translateY(-0.075em);

    &::before {
        content: "";
        width: 0.65em;
        aspect-ratio: 1;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #444;
    }

    &:checked::before {
        transform: scale(1);
    }
}

input[type='radio'],
input[type='radio'] + label {
    cursor: pointer;
}

input[type='radio'] + label {
    padding-left: 0.5em;
}

h1 {
    margin: 0;
    font-size: 4vmin;
}

.hidden {
    display: none;
}

.high-score-container,
.count-down-container,
.score-container,
.mode-container {
    position: absolute;
    color: white;
    font-weight: 400;
}

body:has(img[src*='.webp']) .count-down-container {
    & h1 {
        font-size: 3vmin;
    }

    .count-down {
        font-size: 9vmin;
    }
}

.high-score,
.count-down,
.score {
    font-size: 12vmin;
    line-height: 1;

    & span {
        position: relative;
        display: inline-block;

        &[style] {
            animation: wave 0.5s forwards;
            animation-delay: calc(.1s * var(--i));
        }
    }
}

.score-level,
.high-score-level {
    font-size: 3vmin;
}

.high-score-container {
    top: 2vmin;
    left: 3vmin;
}

.count-down-container {
    top: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.score-container {
    top: 2vmin;
    right: 3vmin;
    text-align: right;
}

.mode-container {
    bottom: 2vmin;
    left: 3vmin;
    font-size: 3vmin;

    .option {
        display: flex;
        align-items: center;

        + .option {
            margin-top: 0.5em;
        }
    }
}

/** Added to the html element via JS **/
.six-seven-animation {
    overflow: hidden;
    animation: sixSeven 0.7s linear;
    animation-iteration-count: 4;
}

@keyframes sixSeven {
    0%, 100% {
        transform: skewY(0deg);
    }
    25% {
        transform: skewY(-10deg);
    }
    75% {
        transform: skewY(10deg);
    }
}

@keyframes fontWeight {
    0% {
        font-weight: 200;
    }
    100% {
        font-weight: 500;
    }
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}

@keyframes angleAnimation {
    to {
        --angle: 1turn;
    }
}