* {
    box-sizing: border-box;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: true;
}

@keyframes angleAnimation {
    to {
        --angle: 1turn;
    }
}

@keyframes focus-animation {
    0% {
        outline-color: transparent;
        outline-offset: 0;
    }
    10% {
        outline-color: white;
    }
    100% {
        outline-color: transparent;
        outline-offset: 1rem;
    }
}

body {
    /* Syntax: oklch(Lightness Chroma Hue) */
    /* We use the CSS variables as the Hue (the 3rd parameter) */
    --color-1: oklch(70% 0.2 var(--randomHue1));
    --color-2: oklch(70% 0.2 var(--randomHue2));

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Changa', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(var(--angle), var(--color-1), var(--color-2));
    background-size: cover;
    transition: background 0.5s ease;
    line-height: 1.4;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    animation: angleAnimation 5s infinite linear;
}

input, button {
    font-family: inherit;
    line-height: inherit;
    border-radius: 0.5em;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 60%);
    text-align: center;
    min-height: 125px;
    padding: 0.3em;
    font-size: 7vmin;
}

input {
    border: 0;
    outline: 3px solid rgb(0 0 0 / 20%);

    &::placeholder {
        opacity: 0.3;
    }
}

button {
    --color-1: oklch(70% 0.2 var(--randomHue1));
    --color-2: oklch(70% 0.2 var(--randomHue2));
    padding-inline: 2em;
    cursor: pointer;
    border: 0.2em solid ;
    font-weight: 900;
    color: white;
    text-shadow: inherit;
    background: conic-gradient(from var(--angle), var(--color-1), var(--color-2), var(--color-1)) border-box;
    transition: transform 0.2s ease-out;

    &:focus, &:hover {
        outline: 3px solid transparent;
        animation: 1s focus-animation infinite;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.hidden {
    display: none;
}

.current-word-container {
    text-align: center;

    .current-word {
        font-size: 15vmin;
        color: white;
        font-weight: 200;
        animation: fontWeight 1.5s infinite alternate;
        transition: transform 0.2s ease-out;

        &::before {
            content: attr(data-current-word);
        }
    }

    &:has(button:hover) .current-word {
        transform: scale(0.8);
    }
}

@keyframes fontWeight {
    0% {
        font-weight: 200;
    }
    100% {
        font-weight: 500;
    }
}

.score-container,
.count-down-container,
.high-score-container {
    position: absolute;
    top: 2vmin;
    color: white;
    font-weight: 400;

    h1 {
        margin: 0;
        font-size: 4vmin;

        span {
            display: none;

            @media (min-width: 768px) {
                display: inline;
                font-size: 1rem;
            }
        }
    }

    .high-score,
    .count-down,
    .score {
        font-size: 12vmin;
        line-height: 1;

        span {
            position: relative;
            display: inline-block;

            &[style] {
                animation: wave 0.5s forwards;
                animation-delay: calc(.1s * var(--i));
            }
        }
    }
}

.high-score-container {
    left: 3vmin;
}

.count-down-container {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.score-container {
    right: 3vmin;
    text-align: right;
}

@keyframes wave {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}